@charset "UTF-8";



.box{
	
	background:url(../images/background.jpg) no-repeat top left;
	border-color:green;
	width: 1000px;
	height: 200px;
	margin: 0 auto;
	border: 1px solid silver;
	margin-top: 5px;
	position:relative;
	padding-top:5%;
	background-size: cover;
}

.setmeal1{
	padding-top:-100px;
	background-size: cover;
}

.setmeal_name{
	padding-left:500px;
	font-size:150%;
	
}

.tn-button-text{
	padding-left:500px;
	
}


